
html{
    scroll-behavior: smooth;
    font-family:monospace;
 
}
body {
    background-image: url(bb.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 98%;
    height: 100%;
    transition: 200ms;

}


header {
    margin-top: 2vw;
    position:fixed;
    top: 0;
    width: 99vw;
    height: 3vw;
    text-align: center;
    backdrop-filter: blur(10px);
    padding-top: 30px;
    margin-top: -0.1vw;

}


.skill_head:hover,.project_head:hover,.home_head:hover,.experience_head:hover{
    color: rgb(0, 0, 0);
    border-color: blue;
    transition: 400ms;

}


.experience_head,.skill_head,.project_head,.home_head{
    color: blue;
    background-color: rgba(220, 220, 220, 0.139);
    border-radius: 10%;
    text-decoration: none;
    margin-left: 2vw;
    font-weight: bolder;
    border-bottom: 0.25vw rgba(0, 0, 0, 0.714)  solid;
    padding: 0.5vw;
    font-size: 1.5vw;
    transition: 400ms;


}


.develop {
    align-items: center;
    margin-top: 15vw;
    margin-left: 11%;
    width: 39%;
    height: 21vw;
    color: black;
    
}


.major {
    font-size: 1.2vw;
    position: left;
    color: rgb(34, 0, 255);
}


.hello{
    font-size: 1.5vw;
}



.contact_button {
    border: none;
    color: white;
    background-color: rgb(34, 0, 255);
    font-size: 1.3vw;
    font-weight: 500;
    border-radius: 7px;
    width: 11vw;
    height: 5vw;
    font-weight: bold;
    font-family:monospace;
    transition: 400ms;
    text-align: center;
    text-decoration: none;
}

.contact_button:hover {
    color: white;
    background-color: rgb(51, 51, 51);
    opacity: 1;
    cursor: pointer;
    transition: 400ms;

}


.aaup,.this{  
    font-size: 1.1vw;
}



.img-circle{
    width: 30%;
    height: 40vw;
    margin-left: 60%;
    margin-bottom: 3vw;
}

.img{
    background-image: url("rr.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 48%;
    width: 100%;
    height: 34vw;
    margin-top: -30vw;
    position: relative;
    transition: 400ms;

}

.img:hover {
    scale: 103%;
    transition: 400ms;
}

 
.circle{
    background-color:blue;
    background-repeat: no-repeat;
    border-radius: 60%;
    width: 78%;
    height: 22.2vw;
    margin-left: 10%;
    margin-top: -23vw;
    
} 

.projects,.experenses,.contacts,main{
width: 99%;
height: 22%;

}


.sklls{
    width: 99%;
    height: 80%;
    display:flex;
}
.skill{
    padding-top: 5vw;
    color: black;
    text-align: center;
}


.js_html,.c_css{
    width :10%;
    height:10%;
    margin-left: 26vw;
    text-align:center;
}



.html,.js,.c,.css{
    font-size: 2vw;
    color: black;
    text-align:center;
}


.html_img,.css_img,.c_img,.js_img{
    width:97.9%;
    margin-bottom:2%;
    transition: 400ms;


}
.working_img{
    width:100%;
    height: 12vw;
    margin-bottom: -11vw;
    position: relative;
}


.html_img:hover,.css_img:hover,.js_img:hover,.c_img:hover{
    scale: 103%;
    transition: 400ms;

}


.project{
    padding-top: 40px;
    color: black;
    margin-top: 15vw;
    text-align: center;
    font-size: 2vw;

}
.project_img{
    color: black;
    text-align: center;
    font-size: 3vw;
}
.soon_img{
    margin-left: 43%;
    width: 15%;
    height: 15%;
    animation-name: stretch;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(.5);
    }

    50% {
    }

    100% {
        transform: scale(.9);
    }
}


.experence{
    padding-top: 40px;
    color: black;
    margin-top: 10vw;
    text-align: center;
    font-size: 2vw;
    margin-bottom: 5vw;
}


.experence_font_color{
    color: blue;
}


li{
    padding: 10px;
    margin-left: 3vw;
    color: black;
    font-size: 2vw;
    font-weight: bold;
}


.arrowdown_img{
    width: 100%;
    height: 3.5vw;
}


.godown{
    background-color: rgba(0, 0, 255, 0.244);
    width: 3.5%;
    height: 3.5vw;
    border: solid rgba(0, 0, 255, 0.244) 7px;
    margin-left: 90%;
    margin-top: 9%;
    transition: 400ms;

}
.godown:hover{
    scale: 105%;
    transition: 400ms;

}

.contacts{
    width: 99%;
    height: 80%;
    display:flex;
    margin-bottom: 16%;


}
.cont{
    padding-top: 50px;
    color: black;
    margin-top: 10vw;
    text-align: center;
    font-size: 3vw;
    
}


.watsapp,.insta,.face,.git,.in,.email{
    font-size: 1.5vw;
    color: black;
    margin-left: 12%;
    text-align:center;

}


.wats_img,.insta_img,.face_img,.git_img,.in_img,.email_img{
    width:90%;
    margin-bottom:2%;
    transition: 400ms;


}


.linkedin_email,.facebook_and_git,.watsapp_and_insta{
    width :10%;
    height:10%;
    margin-left: 18%;
    text-align:center;

}


.wats_img:hover,.insta_img:hover,.face_img:hover,.git_img:hover,.email_img:hover,.in_img:hover{
    scale: 103%;
    transition: 400ms;

}




footer{

    width: 100%;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.456);
    margin-left: -7px;
    padding-right: 1.90%;
    margin-bottom: -5%;
}


p{
    padding-top: 11%;
    text-align:center ;
    font-size: 4vw;
    color:black;
}   


h5{
    margin-top: 10%;
    color: black;
    text-align: right;
}
