    html{
        scroll-behavior: smooth;
        font-family:monospace;
 
    }
    body {
        background-image: url(Imges/bb.jpg);
        background-attachment: fixed;
        background-size: cover;
        width: 98%;
        height: 100%;
        transition: 200ms;

    }

    header {
        margin-top: 20px;
        position: fixed;
        top: 0;
        width: 100%;
        height: 3vw;
        text-align: center;
        backdrop-filter: blur(10px);
        padding-top: 30px;
        margin-top: -0.1vw;
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .darkmode,.notdark {
        width: 3vw;
        height: 3vw;
        margin-left: 80%;
        z-index: 600;
        position: fixed;
        margin-top: -0.4vw;
    }

    .notdark {
        display: none;
        transition: 1400ms; 
   }

    .experience_head,.skill_head,.project_head,.home_head,.cont_head{
        color: blue;
        background-color: rgba(220, 220, 220, 0.139);
        border-radius: 10%;
        text-decoration: none;
        margin-left: 2vw;
        font-weight: bolder;
        border-bottom: 0.25vw rgba(0, 0, 0, 0.714) solid;
        padding: 0.5vw;
        font-size: 1.5vw;
        transition: 400ms;
    }

    .skill_head:hover,.project_head:hover,.home_head:hover,.experience_head:hover,.cont_head:hover{
        color: rgb(0, 0, 0);
        border-color: blue;
        transition: 400ms;
        
    }

    .develop {
        margin-top: 15vw;
        margin-left: 11%;
        width: 39%;
        height: 21vw;
        color: black;
    }

    .major {
        font-size: 1.2vw;
        position: left;
        color: rgb(34, 0, 255);
    }

    .hello {
        font-size: 1.5vw;
    }

    .contact_button,.jsp,.fep,.bep {
            color: white;
            background-color: rgb(34, 0, 255);
            font-size: 1.3vw;
            font-weight: 500;
            border-radius: 7px;
            width: 11vw;
            height: 5vw;
            font-weight: bold;
            font-family: monospace;
            transition: 400ms;
            text-align: center;
            text-decoration: none;
            padding: 1.2vw;
            margin-left: 2vw;

            
    }
    .fep{
        background-color: rgb(51, 51, 51);

    }

    .contact_button:hover,.jsp:hover,.bep:hover,.fep:hover {
            color: white;
            background-color: rgb(51, 51, 51);
            opacity: 1;
            cursor: pointer;
            transition: 400ms;
    }

    .aaup,.this {
        font-size: 1.1vw;
    }

    .img-circle {
            width: 30%;
            height: 40vw;
            margin-left: 60%;
            margin-bottom: 3vw;
            z-index: -13;
    }

    .img {
        background-image: url("Imges/rr.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 48%;
        width: 100%;
        height: 34vw;
        margin-top: -30vw;
        position: relative;
        transition: 400ms;
    }

    .img:hover {
        scale: 103%;
        transition: 400ms;
    }

    .circle {
        background-color: blue;
        background-repeat: no-repeat;
        border-radius: 60%;
        width: 78%;
        height: 22.2vw;
        margin-left: 10%;
        margin-top: -23vw;
            
    }

    .experenses,.contacts,main {
        width: 100%;
        height: 22%;
    }

     .sklls {
        width: 100%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill {
        padding-top: 6vw;
        color: black;
        text-align: center;
        font-size: 3vw;
    }

    .js_html,.c_css,.react_python {
        width: 50%;
        height: 50%;
        margin: 0;
        text-align: center;
    }
    .react_python{
        margin-top: -32vw;
    }

    .html,.js,.c,.css,.react,.python {
        font-size: 2vw;
        color: black;
        text-align: center;
    }

    .html_img,.css_img,.c_img,.js_img ,.react_img,.python_img{
        width: 17.9%;
        margin-bottom: 2%;
        transition: 400ms;
    }


    .html_img:hover,.css_img:hover,.js_img:hover,.c_img:hover,.python_img:hover,.react_img:hover {
        scale: 103%;
        transition: 400ms;
    }



    .working_img {
        width: 100%;
        height: 12vw;
        margin-bottom: -11vw;
        position: relative;
    }


    .project {
        
        padding-top: 40px;
        color: black;
        margin-top: 15vw;
        text-align: center;
        font-size: 2vw;
    }

    .project_img {
        display: none;
        animation: fadeInOut 1.5s ease; 

        color: black;
        text-align: center;
        font-size: 3vw;
    }

    .soon_img {
        animation: fadeInOut 1.5s ease; 

        display: none;
        margin-left: 43%;
        width: 15%;
        height: 15%;
        animation-name: stretch;
        animation-duration: 2.0s;
        animation-timing-function: ease-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-play-state: running;
    }

    @keyframes stretch {
        0% {
            transform: scale(0.5);
        }

        50% {
        }

        100% {
            transform: scale(0.9);
        }
    }
    .jsprojects{
        display: none;
        margin-top: 3vw;
        animation: fadeInOut 1s ease; 

    }
    .reactprojects{
        display: flex;
        margin-top: 3vw;
        animation: fadeInOut 1s ease; 

    }

    .project {
        padding-top: 40px;
        color: black;
        margin-top: 15vw;
        text-align: center;
        font-size: 2vw;
     }
    .project_button{
        text-align: center;
    }
    .reactprojects{
        display: flex;
    }

    .do_list_block{
        border: 0.2px solid rgba(0, 0, 255, 0.113);
        width: 20vw;
        height: 22vw;
        margin-left: 20vw;
        background-color:rgba(240, 248, 255, 0.617);
        border-radius: 10%;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }
    
    @keyframes fadeInOut {
      0% {             transform: scale(0.6);      }
      50% {
      }
      100% {             transform: scale(1);
      }
    }

    .do_list_txt{
        text-align:center;
        font-size: 2vw;
            
    }

    #do_list_img{
        margin-left: 1vw;
        width: 18vw;
        height: 14vw;
        border-radius: 5%;
        transition: 400ms;


    }

    #gotogit,#gotogitm{
        margin-top: -11vw;
        margin-left: 2.5vw;
        color:aliceblue;
        position: relative;
        z-index: 100;
        font-size: 2vw;
        display: none;
        text-decoration: none;
        transition: 400ms;
        font-family: 'Courier New', Courier, monospace;

    }

    .movie_block{
        width: 20vw;
        border: 0.2px solid rgba(0, 0, 255, 0.113);
        height: 22vw;
        background-color:rgba(240, 248, 255, 0.617);
        border-radius: 10%;
        margin-left: 15vw;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);


    }

    .movie_txt{
        text-align:center;
        font-size: 2vw;
        text-decoration:none;        
    }

    #movie_img{
        margin-left: 1vw;
        width: 18vw;
        height: 14vw;
        border-radius: 5%;
        transition: 400ms;

    }
        .instareact_block{
        width: 55vw;
        border: 0.2px solid rgba(0, 0, 255, 0.113);
        height: 42vw;
        background-color:rgba(240, 248, 255, 0.617);
        border-radius: 10%;
        margin-left: 22vw;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);


    }

    .instareact_txt{
        text-align:center;
        font-size: 2vw;
        text-decoration:none;        
    }

    #instareact_img{
        margin-left: 1vw;
        width: 53vw;
        height: 35.5vw;
        border-radius: 5%;
        transition: 400ms;

    }
    #gotogitreact{
        margin-top: -23vw;
        margin-left: 16vw;
        color:aliceblue;
        position: relative;
        z-index: 100;
        font-family: 'Courier New', Courier, monospace;
        font-size: 3vw;
        display: none;
        text-decoration: none;
        transition: 400ms;
        font-weight: 500;

    }


    

    .experence {
        padding-top: 40px;
        color: black;
        margin-top: 10vw;
        text-align: center;
        font-size: 2vw;
        margin-bottom: 5vw;
        
    }

    #experence_font_color {
        color: blue;
    }

    li {
        padding: 10px;
        margin-left: 3vw;
        color: black;
        font-size: 2vw;
        font-weight: bold;
        }

     .arrowdown_img {
        width: 100%;
        height: 3.5vw;
    }

    .godown {
        background-color: rgba(0, 0, 255, 0.244);
        width: 3.5%;
        height: 3.5vw;
        border: solid rgba(0, 0, 255, 0.244) 7px;
        margin-left: 90%;
        margin-top: 9%;
        transition: 400ms;
    }

    .godown:hover {
        scale: 105%;
        transition: 400ms;
    }

    .contacts {
        width: 100%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .cont {
        padding-top: 50px;
        color: black;
        margin-top: 13vw;
        text-align: center;
        font-size: 3vw;
    }

    .watsapp,.insta,.face,.git,.in,.email{
        font-size: 1.5vw;
        color: black;
        margin-left: 12%;
        text-align:center;
    }
        
        
    .wats_img,.insta_img,.face_img,.git_img,.in_img,.email_img{
        width:90%;
        margin-bottom:2%;
        transition: 400ms;
        border-radius: 30%;
    }
        
        
    .linkedin_email,.facebook_and_git{
        width :10%;
        height:10%;
        margin-left: 18%;
        text-align:center;    
    }

    .watsapp_and_insta{
        width :10%;
        height:10%;
        margin-bottom: 13%;
    }
        
        
    .wats_img:hover,.insta_img:hover,.face_img:hover,.git_img:hover,.email_img:hover,.in_img:hover{
        scale: 103%;
        transition: 400ms;
    }
        
        

    footer {
        width: 100%;
        height: 19vw;
        background-color: rgba(0, 0, 0, 0.456);
        margin-left: -7px;
        padding-right: 1.90%;
        margin-bottom: -5%;
        display: flex;
        justify-content: space-between;
        bottom: 0;
    }


    footer > p{
        margin-left: 30%;    
        font-size: 3vw;
     }

    footer > h5{
        margin-top: 16%;
        font-size: 1vw;
    }

    @media screen and (max-width: 768px) {

    .darkmode,.notdark {            width: 5vw;            height: 5vw;
        margin-left: 80%;
        z-index: 600;
        position: fixed;
        margin-top: -0.4vw;
    }

    .experience_head,.skill_head,.project_head,.home_head,.cont_head {
            font-size: 2vw;
    }

    header {
        padding-top: 15px;
    }

    .develop {
        width: 80%;
        margin-top: 80vw;
        margin-left: 10%;
        font-size: 5vw;
        float:right;
         margin-bottom: 50vw;
    }

    .major,.aaup,.this,.hello {
        font-size: 4vw;
    }

    .contact_button {
        font-size: 3vw;
        padding: 5vw;
        font-size: 4vw;
        margin-left: 10vw;
    }

    .img-circle {
        width: 60%;
        height: 60vw;
        margin-left: 20%;
    }

    .img {
        width: 64vw;
        height: 72vw;
        margin-top: 10vw;
    }

    .circle {
        width: 50vw;
        height: 46vw;
        margin-top: -46vw;
    }

    .skill{
        margin-top: 120vw;
        font-size: 7vw;
    }

    .sklls {
        align-items: center;
    }

    .js_html,.c_css,.react_python {
        width: 24%;
        margin: 0;
        text-align: center;
    }
    .c_css,.react_python{
        margin-left: 7vw;
    }

    .html,.js,.c,.css,.python,.react {
        font-size: 5vw;
    }

    .html_img,.css_img,.c_img,.js_img ,.react_img,.python_img{
        width: 80%;
    }

    .jsprojects{
        margin-left: -10vw;
    }

    .jsp,.fep,.bep{
        font-size: 3vw;
        padding: 2.4vw;
    }

    .do_list_block,.movie_block{
        padding: 5vw;
    }

    .do_list_txt,.movie_txt{
        margin-top: -3vw;
        font-size: 2.5vw;
        font-weight: 900
    }

    #gotogit,#gotogitm{
        margin-top: -20vw;
        font-size:4vw;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;

    }
    #movie_img,#do_list_img{
        margin-left: -3vw;
        width: 25vw;
        height: 23vw;
    }
    .instareact_block{
        width: 52vw;
        border: 0.2px solid rgba(0, 0, 255, 0.113);
        height: 57vw;
        background-color:rgba(240, 248, 255, 0.617);
        border-radius: 10%;
        margin-left: 20vw;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }
    .instareact_txt{
        text-align:center;
        font-size: 3vw;
        text-decoration:none;        
    }

    #instareact_img{
        margin-left: 1vw;
        width: 50vw;
        height: 46vw;
        border-radius: 5%;
        transition: 400ms;

    }
    #gotogitreact{
        margin-top: -28vw;
        margin-left: 9vw;
        color:aliceblue;
        position: relative;
        z-index: 100;
        font-size: 4vw;
        display: none;
        text-decoration: none;
        transition: 400ms;
        font-weight: bold;

    }
    .project {
        font-size: 4vw;
    }

    .project_img {
        font-size: 5vw;
    }

    .soon_img {
        margin-left: 30%;
        width: 50%;
        height: 50%;
    }

    .experence {
        font-size: 4vw;
    }

    li {
        margin-left: 5vw;
        font-size: 4vw;
    }

    .cont {
        font-size: 6vw;
        }

    .watsapp,.insta,.face,.git,.in,.email {
        font-size: 3vw;
    }

    .wats_img,.insta_img,.face_img,.git_img,.in_img,.email_img {
        width: 150%;
        margin-bottom: 5%;
    }

    footer > p{
        margin-left: 10%;
        font-size: 5vw;
    }
    footer > h5{
        margin-top: 16%;
        font-size: 1vw;    
    }
    }